  :host {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .top {
      z-index: 100;
      flex-shrink: 0;
    }

    .content {
      flex: 1;
      overflow-y: auto;
    }

    .bottom {
      z-index: 100;
      flex-shrink: 0;
    }
  }